.main {
  padding-top: 94px;
  padding-bottom: 94px;

  &-element {
    display: flex;
    flex-direction: inherit;
  }
}

.icon-features {
  display: inline-flex;
  justify-content: center;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 270px;
  height: 120px;
  background: $second-color;
  border-radius: 4px;
}

.element {
  justify-content: space-between;
  width: calc((100% - 90px) / 4);
  text-align: left;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.section-title {
  margin-bottom: 10px;
  color: $second-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;

  & p {
    color: $primary-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
  }
}

.about-us {
  color: $primary-text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
}
