* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  font-family: $main-font;
  letter-spacing: 0.03em;

  & li {
    list-style-type: none;

    & a {
      text-decoration: none;
    }
  }
}

.container {
  box-sizing: border-box;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
